/*
Working with css
 */

/*
CSS structure
- selector (h1,html...) what elelments are you stylinh in html page
- { actual style chnages
- property : value
selector {
    properties: values;
}
 */
html {
    background-color: orange;
}
h1, h2 {
    color: blue;
}